<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Rack à clefs | CPNV</title>

    <!-- Custom styles for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.css" rel="stylesheet" />
    <link href="/static/css/semantic.min.css" rel="stylesheet">

    <style>
        .container.content { margin-top: 56px!important; }
    </style>
</head>

<body ng-app="racapp">
<top-bar></top-bar>


<section class="ui container content">
    <ng-view></ng-view>
    <toaster-container></toaster-container>
</section>
<script>
    var passport = {
      user: {
        id: "<%= user._id %>",
        email: "<%= user.mail %>",
        username: "<%= user.displayName %>"
      }
    }

    var adminUniq = null;
    <% if (user.admin == true) {
      %>
      adminUniq = "<%= adminUniq %>";
    <% } %> 

  </script>


<script src="/static/js/semantic.js"></script>
<script src="/static/js/angular.js"></script>
<app-script></app-script>
</body>
</html>
