<nav class="navbar">
    <a href="#" id="menu-toggle"><i class="fa fa-bars"></i></a>
    <div class="left menu" id="menu">
        <a href="#!/home" ng-class="{active:currentPath=='/home'}">Accueil</a>
        <a href="#!/reservations" ng-class="{active:currentPath=='/reservations'}">Mes réservations</a>
        <a href="#!/admin" ng-class="{active:currentPath=='/admin'}" ng-show="admin != null">Administration</a>
    </div>
    <div class="right">
        <a href="/login">Connexion</a>
    </div>
</nav>