<table class="ui striped table">
    <thead>
        <th>Identifiant de la clé</th>
        <th>Nom de la réservation</th>
        <th>Date de la réservation</th>
        <th>Status de la réservation</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="reservation in reservations">
            <td>CPNV-USB01</td>
            <td>ICT 143</td>
            <td>29/11/2016</td>
            <td><span class="ui label red">En cours d'utilisation</span></td>
            <td><a href="#" class="ui button orange">Rendre la clé</a></td>
        </tr>
    </tbody>
</table>