<a href="#" class="btn btn-primary right">Ajouter une clé</a>
<table class="table">
    <thead>
        <th>Identifiant de la clé</th>
        <th>Status de la clé</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="usb in usbs">
            <td>{{ usb.name }}</td>
            <td>
                <span class="label label-danger" ng-show="!usb.status">Absente</span>
                <span class="label label-success" ng-show="usb.status && !usb.reserverd">Disponible</span>
            </td>
            <td><a href="#" class="btn btn-warning btn-xs" ng-show="usb.initialized == false">Initialiser la clé</a></td>
        </tr>
    </tbody>
</table>